//output:template.html
br 

#game-container.ui.grid      
    div(style='padding: 0px; height: 100%', [ngClass]="{standard: 'eight wide column', fullCanvas: 'sixteen wide column', standardFull: 'nine wide column'}[layout.type]")
        three-js( (toParent)="executeEmit($event)", [fromParent]='layout' )
    div(style='padding: 0px; height: 100%', [ngClass]="{standard: 'eight wide column', fullCanvas: '', standardFull: 'seven wide column'}[layout.type]")
        three-js( (toParent)="executeEmit($event)", [fromParent]='layout' )

.ui.grid
  .sixteen.wide.column
    button.ui.button.fullscreen-btn
      | Fullscreen Mode
    button.ui.button([ngClass]="{standardFull: 'red'}[layout.type]", (click)='changeLayout("standardFull")')
      | Standard (Maintain Full Ratio)
    button.ui.button([ngClass]="{standard: 'red'}[layout.type]", (click)='changeLayout("standard")')
      | Standard (1:1 Ratio)
    button.ui.button([ngClass]="{fullCanvas: 'red'}[layout.type]", (click)='changeLayout("fullCanvas")')
      | Full Canvas (1:1 Ratio)

.ui.grid
  .three.wide.column
    small type: {{layout.type}}
  .three.wide.column
    small isFullscreen: {{layout.isFullscreen()}}
  .three.wide.column
    small Screen is good: {{layout.meetsDesktopRequirement().screenSizeGood}}
  .three.wide.column
    small Window Is Good: {{layout.meetsDesktopRequirement().windowSizeGood}}
  .three.wide.column
    small Offer Fullscreen?: {{layout.meetsDesktopRequirement().offerFS}}
