#sidebarRight.ui.right.vertical.menu.sidebar.inverted
  span(*ngFor="#r of routes")
    a.item( (click)="linkTo(r.path)" ui-sidebar [options]='{selector: "#sidebarRight", show: "false"}')
      span {{r.name}} 
  
#sidebarBottom.ui.bottom.menu.sidebar.inverted
  span(*ngFor="#r of routes")
    a.item( (click)="linkTo(r.path)" ui-sidebar [options]='{selector: "#sidebarRight", show: "false"}')
      span {{r.name}} 
      
#sidebarTop.ui.top.menu.sidebar.inverted
  span(*ngFor="#r of routes")
    a.item((click)="linkTo(r.path)")
      i(class="{{r.icon}}") &nbsp;&nbsp;
      span {{r.name}} 
      
// NORMAL HEADER
.ui.inverted.vertical.center.aligned.segment.mobile.vanish(ui-visibility [options]="{once: false, onBottomPassed: {selector: '.fixed.menu', action: 'transition', params: 'fade in'}, onBottomPassedReverse: {selector: '.fixed.menu', action: 'transition', params: 'fade out'} }")
  .ui
    .ui.large.secondary.inverted.pointing.menu
      .left.menu    
        .item
          a.ui.facebook.button(ui-sidebar [options]="{selector: '#sidebarTop', animation: 'scale down'}")
            i.fa.fa-bars
        .item
          a.ui.button.facebook((click)="linkTo(['Home'])")
            i.fa.fa-home.fa                  
      .right.menu
        .item
          a.ui.button            
            | Button 1
        .item
          a.ui.button
            | Button 2            

  // FIXED HEADER
  .ui.large.top.fixed.hidden.menu.mobile.hidden
    .ui.container
      a.item((click)="linkTo(['Home'])")
        img(src='media/images/logo.png' style='width: auto; height: 50px')
      a.item(*ngFor="#r of routes")((click)="linkTo(r.path)") {{r.name}}


// MOBILE ONLY
.ui.inverted.vertical.center.aligned.segment.mobile.only.fixed.top.sticky(ui-sticky style='width: 100%')
  .ui.container
    a.ui.button.circular.facebook(ui-sidebar [options]="{selector: '#sidebarRight', animation: 'uncover'}")
      i.fa.fa-th.fa

// Page Contents
.pusher
  router-outlet


parts-footer
